$visual-grid: true;

@import '../../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../../bower_components/neat/app/assets/stylesheets/neat';


/*============================
MIXINS
=============================*/


/*============================
FONTS & COLORS
=============================*/
 $google-blue: #156aeb;

/*============================
UNIVERSAL
=============================*/

img {
 max-width:100%;
 }

/*============================
CLEARFIX
=============================*/

/*============================
BODY
=============================*/

.main-container {
  @include outer-container(1070px);
  background-color: $google-blue;
}
